/* FORM CSS */


/* THAT GREEN: #20C063 */
#site
{
	margin: 50px auto 0 auto;
	width: 800px;	
	background: white;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	color: #303030;
	
	*padding: 0;
}

#site h1
{
	margin-bottom: 30px;
	padding: 10px 0px 10px;
	*border-bottom: 2px solid #20C063;
	display: block;
	color: #303030;
	
	*padding: 10px 10px 10px;
	*background: #20C063;
	*color:white;
	
}

#site form .label-for-input
{
	display: block;
	color: grey;
}

#site form span.error
{
	display: block;
	width: 350px;
	color: white;
	margin-bottom: 20px;
	background: #990000;
	padding: 5px 10px;
	box-sizing: border-box;
}

#site form input[type="text"]
{
	background: #fcfcfc;
*	background: white;
	border: 1px solid lightgrey;
	padding: 10px;
	outline: none;
	color: grey;
	margin-bottom: 20px;
	transition: 0.2s all;
	width: 350px;
	box-sizing: border-box;
	text-align: center;
}
#site form input[type="text"]:focus
{
	*border: 1px solid #20C063;
	border: 1px solid grey;
}


#site form input.error, #site form textarea.error
{
	border-color: #990000;
	margin-bottom: 0;
	background: #fff9f9;
}

#site form .box
{
	border-top: 1px solid lightgrey;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	margin-top: 30px;
}

#site form .box label
{
	*display: inline;
	margin-top: 10px;
}

#site form .box label.grouping
{
	text-align: left;
	padding: 0;
	margin: 0;
}

#site form .box input[type="number"]
{
	background: #fcfcfc;
	border: 1px solid lightgrey;
	padding: 5px;
	outline: none;
	color: grey;
	width: 50px;
	text-align: center;
	margin-bottom: 20px;
}

#site form .box span.error
{
	margin: 0 auto;
	width: 350px;
}


#site form button
{
	margin: 0 auto;
	background: #20C063;
	border: none;
	color: white;
	font-size: 1.2em;
	padding: 15px 20px;
	display: block;
}

#site form button:hover
{
	
	cursor: pointer;
	background: #12994a;
}

#site form textarea
{
	background: #fcfcfc;
	border: 1px solid lightgrey;
	padding: 10px;
	outline: none;
	color: grey;
	text-align: center;
	margin-bottom: 20px;
	transition: 0.2s all;
	width: 350px;
	box-sizing: border-box;
}

#site .global-error
{
	width: 100%;
	background: #990000;;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	font-size: 1.1em;
}



















