html {
    scroll-behavior: smooth
}

*
{
	font-family: 'Trebuchet MS', 'arial';
	margin: 0;
	padding: 0;
*	font-size: 1em;
}


body
{
	background: #f9f9f9;
}

header {
	width: 100%;
	height: 400px;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	background-image: url("../images/header.jpg");
	background-image: url("../images/house4.jpg");
	background-size: 100%;
	background-position: top;
	background-attachment: fixed;
}

menu
{
	width: 100%;
	position: fixed;
	top: 0;
	background: #f9f9f9;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid lightgrey;
	z-index: 100;
	
}

menu ul
{
	text-align: right;
}

menu ul li .link
{
	border: 1px solid #20C063;
	*border-radius: 30px;
	height: 30px;
	line-height: 30px;
	color: #20C063;
	padding: 0 20px;
	margin-top: 5px;
	margin-left: 20px;
	
}

menu ul li .link:hover
{
	background: #20C063;
	color: white;
}

menu ul li .add-listing
{
	background: #20C063;
	*border-radius: 30px;
	height: 30px;
	line-height: 30px;
	color: white;
	padding: 0 20px;
	margin-top: 5px;
	margin-left: 20px;
}

menu ul li .add-listing:hover {background: #16a050;}

menu ul
{
	list-style: none;
	width: 800px;
	margin: 0 auto;
}
menu ul li
{
	display: inline;
}

menu ul li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 10px;
	height: 40px;
}

menu ul li #logo
{
	color: #20C063;
	font-weight: bold;
	text-decoration: none;
	*font-size: 1.2em;
	float: left;
}


header > div
{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

header h1
{
	margin: 0 auto;
	color: white;
	*line-height: 50px;
	text-align: center;
	padding-top: 50px;
}

header #searchByStatusBox
{
	width: 400px;
	margin: 30px auto 0 auto;
	text-align: center;
	font-size: 1.2em;
	*border: 1px solid red;
	*height: 200px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.9);
	
}

header #searchByStatusBox input[type="radio"]
{
	display: none;
}

header #searchByStatusBox label:first-of-type { *border-radius: 5px 0 0 0; }
header #searchByStatusBox label:last-of-type {* border-radius: 0 5px 0 0; }

header #searchByStatusBox label {
	display: inline-block;
	padding: 20px 0;
	width: 33.333%;
	*background: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 0.8em;
	transition: all 0.3s;
	*border: 1px solid rgba(0, 0, 0, 0.2);
	
	background: rgba(255, 255, 255, 0.15);
	
	border-top: 2px solid #20C063;
	color: white;
	border-radius: 0;
}


header #searchByStatusBox input[type="radio"]:hover+label {
	background: #20C063;
	cursor: pointer;
}

header #searchByStatusBox input[type="radio"]:checked+label 
{ background: #20C063; background: white;color:#20C063;
 }


header #searchByStatusBox input[type="text"] {
	display: block;
	margin: 0 auto;
	outline: red;
	border: none;
	height: 60px;
	width: 100%;
	padding: 0 30px;
	color: grey;
	font-weight: 200;
	font-size: inherit;
	box-sizing: border-box;
	
}

header #searchByStatusBox input[type="submit"] {
	background: #20C063;
    color: white;
    border: none;
	width: 100%;
	display: inline;
    padding: 15px 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
	*border-radius: 0 0 5px 5px;
	transition: all 0.3s;
}

header #searchByStatusBox input[type="submit"]:hover
{
	background:#1aa554;
}

#searchByFilterBox
{
	width: 800px;
	margin: 0 auto;
	*background: red;
	margin-top: 30px;
}

#searchByFilterBox a
{
	text-decoration: none;
	color: grey;
	font-size: 1.3em;
	padding-bottom: 5px;
	border-bottom: 2px solid grey;
	margin-right: 20px;
}

#searchByFilterBox a#active
{
	color: #20C063;
	border-color: #20C063;
}

#listings
{
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	height: 800px;
	*background: grey;
	*text-align: center;
}

#listings .listItem
{
	display: inline-block;
	width: 49%;
	height: 250px;
	background: red;
	margin-bottom: 5px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	background: url('../images/house2.jpg');
	background-size: 100% 100%;
	text-align: center;
}

#listings .listItem:hover
{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
}

#listings .listItem > span, #listings .listItem div
{
	display: inline;
	position: absolute;
}

#listings .listItem .type
{
	top: 10px;
	left: 10px;
	background: #20C063;
	padding: 3px 5px;
	border-radius: 2px;
	color: white;
}

#listings .listItem .address
{
	bottom: 10px;
	left: 10px;
	background: rgba(50, 50, 50, 9);
	padding: 3px 5px;
	border-radius: 2px;
	color: white;
	font-size: 0.9em;
	
	*background: rgba(255, 255, 255, 1);
	*color: black;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.2s;
}

#listings .listItem .address:hover
{
	white-space: normal;
	*max-width: 100%;
	padding: 22px 5px;
}

#listings .listItem .price
{
	font-weight: bold;
	background: rgba(255, 255, 255, 1);
	padding: 3px 10px 3px 10px;
	border-radius: 3px;
	bottom: 35px;
	left: 10px;
	font-size: 1.5em;
	color: black;
}



#listings .listItem .rooms
{
	background: white;
	padding: 3px 5px;
	border-radius: 2px;
	color: black;
	font-size: 0.8em;
}

#listings .listItem .rooms span
{
	font-size: 2em;
	font-weight: bold;
	display: block;
	color: #20C063;
}

#listings .listItem .bath
{
	bottom: 10px;
	right: 10px;
}
#listings .listItem .bed
{
	bottom: 10px;
	right: 55px;
}
#listings .listItem .garage
{
	bottom: 10px;
	right: 95px;
}

#listings .listItem a.edit
{
	
}

.anchor
{
	display: block;
	height: 40px;
	margin-top: -40px;
	visibility: hidden;
}

.error-box
{
	background: lightblue;
	padding: 20px;
	font-size: 1.1em;
	text-align: center;
}

.error-box a 
{
	color: #20C063;
}

.system
{
	width: 800px;
	margin: 0 auto;
	margin-top: 30px;
}

.system, .system a
{
	background: #840000;
	color: white;
}
.system a
{color: white;}







