*
{
	color: #2A2A2A;
}




.width-box
{
	width: 800px;
	margin: 0 auto;
}

#site
{

	background: white;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	color: #303030;
	*min-height: 3000px;
	position: relative;
}

#site h1
{
	margin-bottom: 30px;
	padding: 10px 0px 10px;
	border-bottom: 2px solid #20C063;
	display: block;
	color: #303030;
	
	*padding: 10px 10px 10px;
	*background: #20C063;
	*color:white;
	
}

img
{
	display: block;
	width: 100%;
	margin: 50px auto 0 auto;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
}

.contact-info
{
	background: #20C063;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	
}

.contact-info h2
{
	color: white;
	font-size: 1.2em;
	text-decoration: underline;
}

.contact-info h2 a
{
	text-decoration: none;
}

#site label
{
	color: grey;
	border-top: 1px solid lightgrey;
	display: block;
	padding: 10px 0 0 10px;
}

#site .price-box
{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 1.5em;
	padding: 10px 30px;
	border: 1px solid #EBEBEB;
}

#site .address
{
	margin-bottom: 40px;
}

#site .details
{
	margin: 0 auto;
	width: 850px;
	*border: 1px solid lightgrey;
	overflow:hidden;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#site .details .properties
{
	width: 42%;
	*background: red;
	float: left;
	margin-right: 20px;
	text-align: right;
}

#site .details .properties p
{
	color: grey;
}
#site .details .values
{
	width: 45%;
	float: left;
	*background: blue;
}

#site .details p
{
	display: block;
	margin-bottom: 5px;
}
#site .details p
{
	*display: block;
}

#site .description
{
	width: 90%;
	margin: 10px;
	text-align: center;
}


.anchor
{
	display: block;
	height: 40px;
	margin-top: -40px;
	visibility: hidden;
}

