<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{site.title}">Buymyhouse.com</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
	<meta name="author" content="Rákóczi Kristóf">
</head>


<body>

	<menu th:replace="fragments :: menu">
		<ul>
			<li><a href="index.html" th:href="@{~/}" id="logo">buymyhouse.com</a></li>
			<li><a class="add-listing" href="form.html" th:href="@{~/add-house}">+ Create Listing</a></li>
		</ul>
	</menu>

	<header th:replace="fragments :: header">
		<div>


			<h1>Find the ultimate home for your family</h1>
			<div id="searchByStatusBox">
				<form action="list-houses" method="GET">
					<input type="radio" name="status" value="buy" id="buy"
						checked="checked"><label for="buy">For Sale</label><!--
 				 --><input type="radio" name="status" value="rent" id="rent"><label
						for="rent">For Renting</label><!--
				 --><input type="radio" name="status" value="sold" id="sold"><label
						for="sold">Sold</label> <input type="text" name="searchTerm"
						placeholder="Type a location here..."> <input
						type="submit" value="Search">
				</form>
			</div>
		</div>
	</header>

<!-- 
	<div id="searchByFilterBox">
		<a href="../list-houses.html?searchByFilter=all">All</a> <a
			href="../list-houses.html?searchByFilter=poor">Poor</a> <a href="#"
			id="active">Wealthy</a> <a href="#">Richest</a>
	</div>
-->

		<div class="system error-box">
			<p th:text="#{site.systemError}"/>
			<a href="index.html" th:href="@{~/}" th:text="#{site.systemError.linkText}">Link to index.html</a>
		</div>
	

</body>
</html>