<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{site.title}">Buymyhouse.com</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
	<link rel="stylesheet" href="../static/css/form.css" th:href="@{css/form.css}" />
	<meta name="author" content="Rákóczi Kristóf">
</head>


<body>

	<menu th:replace="fragments :: menu">
		<ul>
			<li><a href="index.html" th:href="@{~/}" id="logo" th:text="#{menu.site.name}">buymyhouse.com</a></li>
			<li><a th:if="${house != null}" class="link" href="form.html#form" th:href="@{~/edit-house(houseId=${house.id})}+'#form'"  th:text="#{menu.button.edit}"> Edit Listing</a></li>
			<li><a class="add-listing" href="form.html" th:href="@{~/add-house}" th:text="#{menu.button.add}">+ Create Listing</a></li>
		</ul>
	</menu>

	<header th:replace="fragments :: header">
		<div>


			<h1>Find the ultimate home for your family</h1>
			<div id="searchByStatusBox">
				<form action="list-houses" method="GET">
					<input type="radio" name="status" value="buy" id="buy"
						checked="checked"><label for="buy" th:text="#{header.searchBy.sale}">For Sale</label><!--
 				 --><input type="radio" name="status" value="rent" id="rent"><label
						for="rent" th:text="#{header.searchBy.rent}">For Renting</label><!--
				 --><input type="radio" name="status" value="sold" id="sold"><label
						for="sold" th:text="#{header.searchBy.sold}">Sold</label> <input type="text" name="location"
						placeholder="Type a location here..."> <input
						type="submit" value="Search">
				</form>
			</div>
		</div>
	</header>

	<div id="site">
	
		
		
		<span class="anchor" id="form"></span>
		<form action="edit-house" th:object="${houseForm}" method="POST">
			<h1 th:if="${houseForm.id == null}" th:text="#{houseform.title.new}">Create a listing</h1>
			<h1 th:if="${houseForm.id != null}" th:text="#{houseform.title.edit}">Edit the listing</h1>
				
			
			<input type="hidden" th:field="*{id}" /> 
			
			<p th:if="${#fields.hasErrors('global')}" class="global-error"> Please fill out all the required fields correctly! </p> <!-- list of 'global' errors -->
			
			
			<div class="box">
				<label class="label-for-input grouping" th:text="#{form.fieldgroup.general}">General details</label>
				
				<label class="label-for-input" for="status" th:text="#{form.field.status}">Status</label>
				<input th:errorclass="error" type="text" th:field="*{status}" th:placeholder="#{form.tip.status}"/>
				<!-- <span th:if="${#fields.hasErrors('status')}" class="error" th:errors="*{status}">error.</span>--> 
				
				<label class="label-for-input" for="location" th:text="#{form.field.location}">Location</label>
				<input th:errorclass="error" type="text" th:field="*{location}" th:placeholder="#{form.tip.location}"/>
				<!--<span th:if="${#fields.hasErrors('location')}" class="error" th:errors="*{location}">error.</span>-->
				
				<label class="label-for-input" for="address" th:text="#{form.field.address}">Address</label>
				<input th:errorclass="error" type="text" th:field="*{address}" th:placeholder="#{form.tip.address}"/>
				<!--<span th:if="${#fields.hasErrors('address')}" class="error" th:errors="*{address}">error.</span>-->
				
				<label class="label-for-input" for="zipCode" th:text="#{form.field.zipCode}">ZIP code</label>
				<input th:errorclass="error" type="text" th:field="*{zipCode}" th:placeholder="#{form.tip.zipCode}"/>
				<!--<span th:if="${#fields.hasErrors('zipCode')}" class="error" th:errors="*{zipCode}">error.</span>-->
				
				<label class="label-for-input" for="price" th:text="#{form.field.price}">Price</label>
				<input th:errorclass="error" type="text" th:field="*{price}" th:placeholder="#{form.tip.price}"/>
				<!--<span th:if="${#fields.hasErrors('price')}" class="error" th:errors="*{price}">error.</span>-->
				
				<label class="label-for-input" for="type" th:text="#{form.field.type}">Type</label>
				<input th:errorclass="error" type="text" th:field="*{type}" th:placeholder="#{form.tip.type}"/>
				<!--<span th:if="${#fields.hasErrors('type')}" class="error" th:errors="*{type}">error.</span>-->
				
				<label class="label-for-input" for="sizeOfProperty" th:text="#{form.field.sizeOfProperty}">sizeOfProperty</label>
				<input th:errorclass="error" type="text" th:field="*{sizeOfProperty}" th:placeholder="#{form.tip.sizeOfProperty}"/>
				<!--<span th:if="${#fields.hasErrors('sizeOfProperty')}" class="error" th:errors="*{sizeOfProperty}">error.</span>-->
				
				<label class="label-for-input" for="suitableFor" th:text="#{form.field.suitableFor}">suitablefor</label>
				<input th:errorclass="error" type="text" th:field="*{suitableFor}" th:placeholder="#{form.tip.suitableFor}"/>
				<!--<span th:if="${#fields.hasErrors('suitableFor')}" class="error" th:errors="*{suitableFor}">error.</span>-->
				
				<label class="label-for-input" for="builtIn" th:text="#{form.field.builtIn}">Builtin</label>
				<input th:errorclass="error" type="text" th:field="*{builtIn}" th:placeholder="#{form.tip.builtIn}"/>
				<!--<span th:if="${#fields.hasErrors('builtIn')}" class="error" th:errors="*{builtIn}">error.</span>-->
				
				<label class="label-for-input" for="numberOfFloors" th:text="#{form.field.numberOfFloors}">numberOfFloors</label>
				<input th:errorclass="error" type="text" th:field="*{numberOfFloors}" th:placeholder="#{form.tip.numberOfFloors}"/>
				<!--<span th:if="${#fields.hasErrors('numberOfFloors')}" class="error" th:errors="*{numberOfFloors}">error.</span>-->
				
				<label class="label-for-input" for="garden" th:text="#{form.field.garden}">garden</label>
				<input th:errorclass="error" type="text" th:field="*{garden}" th:placeholder="#{form.tip.garden}"/>
				<!--<span th:if="${#fields.hasErrors('garden')}" class="error" th:errors="*{garden}">error.</span>-->
				
				<label class="label-for-input" for="airConditioning" th:text="#{form.field.airConditioning}">airConditioning</label>
				<input th:errorclass="error" type="text" th:field="*{airConditioning}" th:placeholder="#{form.tip.airConditioning}"/>
				<!--<span th:if="${#fields.hasErrors('airConditioning')}" class="error" th:errors="*{airConditioning}">error.</span>-->
				
				<label class="label-for-input" for="parking" th:text="#{form.field.parking}">parking</label>
				<input th:errorclass="error" type="text" th:field="*{parking}" th:placeholder="#{form.tip.parking}"/>
				<!--<span th:if="${#fields.hasErrors('parking')}" class="error" th:errors="*{parking}">error.</span>-->
			
			</div>
			
			

			
			<div class="box">
				<label class="label-for-input grouping" th:text="#{form.fieldgroup.rooms}">Number of rooms</label>
				
				<label class="label-for-input" for="numberOfRooms" th:text="#{form.field.numberOfRooms}">numberOfRooms</label>
				<input th:errorclass="error" type="number" th:field="*{numberOfRooms}" th:placeholder="#{form.tip.numberOfRooms}"/>
				<!--<span th:if="${#fields.hasErrors('numberOfRooms')}" class="error" th:errors="*{numberOfRooms}">error.</span>-->
			
				<label class="label-for-input" for="numberOfBedRooms" th:text="#{form.field.numberOfBedRooms}">Bedrooms</label>
				<input th:errorclass="error" type="number" th:field="*{numberOfBedRooms}" th:placeholder="#{form.tip.numberOfBedRooms}"/>
				<!--<span th:if="${#fields.hasErrors('numberOfBedRooms')}" class="error" th:errors="*{numberOfBedRooms}">error.</span>-->
				
				<label class="label-for-input" for="numberOfKitchens" th:text="#{form.field.numberOfKitchens}">numberOfKitchens</label>
				<input th:errorclass="error" type="number" th:field="*{numberOfKitchens}" th:placeholder="#{form.tip.numberOfKitchens}"/>
				<!--<span th:if="${#fields.hasErrors('numberOfKitchens')}" class="error" th:errors="*{numberOfKitchens}">error.</span>-->
				
				<label class="label-for-input" for="numberOfBathRooms" th:text="#{form.field.numberOfBathRooms}">Bathrooms</label>
				<input th:errorclass="error" type="number" th:field="*{numberOfBathRooms}" th:placeholder="#{form.tip.numberOfBathRooms}"/>
				<!--<span th:if="${#fields.hasErrors('numberOfBathRooms')}" class="error" th:errors="*{numberOfBathRooms}">error.</span>-->
				
				<label class="label-for-input" for="numberOfGarages" th:text="#{form.field.numberOfGarages}">Garages</label>
				<input th:errorclass="error" type="number" th:field="*{numberOfGarages}" th:placeholder="#{form.tip.numberOfGarages}"/>
				<!--<span th:if="${#fields.hasErrors('numberOfGarages')}" class="error" th:errors="*{numberOfGarages}">error.</span>-->
			</div>
			
			<div class="box">
				<label class="label-for-input grouping" th:text="#{form.fieldgroup.area}">Area</label>
				<label class="label-for-input" for="nearbySchools" th:text="#{form.field.nearbySchools}">nearbySchools</label>
				<input th:errorclass="error" type="text" th:field="*{nearbySchools}" th:placeholder="#{form.tip.nearbySchools}"/>
				<!--<span th:if="${#fields.hasErrors('nearbySchools')}" class="error" th:errors="*{nearbySchools}">error.</span>-->
				
				<label class="label-for-input" for="nearbyHospitals" th:text="#{form.field.nearbyHospitals}">nearbyHospitals</label>
				<input th:errorclass="error" type="text" th:field="*{nearbyHospitals}" th:placeholder="#{form.tip.nearbyHospitals}"/>
				<!--<span th:if="${#fields.hasErrors('nearbyHospitals')}" class="error" th:errors="*{nearbyHospitals}">error.</span>-->
				
				<label class="label-for-input" for="nearbyPlayGrounds" th:text="#{form.field.nearbyPlayGrounds}">nearbyPlayGrounds</label>
				<input th:errorclass="error" type="text" th:field="*{nearbyPlayGrounds}" th:placeholder="#{form.tip.nearbyPlayGrounds}"/>
				<!--<span th:if="${#fields.hasErrors('nearbyPlayGrounds')}" class="error" th:errors="*{nearbyPlayGrounds}">error.</span>-->
				
				<label class="label-for-input" for="neighbours" th:text="#{form.field.neighbours}">neighbours</label>
				<input th:errorclass="error" type="text" th:field="*{neighbours}" th:placeholder="#{form.tip.neighbours}"/>
				<!--<span th:if="${#fields.hasErrors('neighbours')}" class="error" th:errors="*{neighbours}">error.</span>-->
			</div>
			
			<div class="box">
				<label class="label-for-input grouping" th:text="#{form.fieldgroup.seller}">Seller information</label>
				<label class="label-for-input" for="sellerName" th:text="#{form.field.sellerName}">sellerName</label>
				<input th:errorclass="error" type="text" th:field="*{sellerName}" th:placeholder="#{form.tip.sellerName}"/>
				<!--<span th:if="${#fields.hasErrors('sellerName')}" class="error" th:errors="*{sellerName}">error.</span>-->
				
				<label class="label-for-input" for="sellerNumber" th:text="#{form.field.sellerNumber}">sellerNumber</label>
				<input th:errorclass="error" type="text" th:field="*{sellerNumber}" th:placeholder="#{form.tip.sellerNumber}"/>
				<!--<span th:if="${#fields.hasErrors('sellerNumber')}" class="error" th:errors="*{sellerNumber}">error.</span>-->
				
				<label class="label-for-input" for="sellerMail" th:text="#{form.field.sellerMail}">sellerMail</label>
				<input th:errorclass="error" type="text" th:field="*{sellerMail}" th:placeholder="#{form.tip.sellerMail}"/>
				<!--<span th:if="${#fields.hasErrors('sellerMail')}" class="error" th:errors="*{sellerMail}">error.</span>-->
				
				<label class="label-for-input" for="sellerAvailability" th:text="#{form.field.sellerAvailability}">sellerAvailability</label>
				<input th:errorclass="error" type="text" th:field="*{sellerAvailability}" th:placeholder="#{form.tip.sellerAvailability}"/>
				<!--<span th:if="${#fields.hasErrors('sellerAvailability')}" class="error" th:errors="*{sellerAvailability}">error.</span>-->
			</div>
			
			<div class="box">
				<label class="label-for-input grouping">Links</label>
				
				<label class="label-for-input" for="linkToGoogleMaps" th:text="#{form.field.linkToGoogleMaps}">linkToGoogleMaps</label>
				<input th:errorclass="error" type="text" th:field="*{linkToGoogleMaps}" th:placeholder="#{form.tip.linkToGoogleMaps}"/>
				<!--<span th:if="${#fields.hasErrors('linkToGoogleMaps')}" class="error" th:errors="*{linkToGoogleMaps}">error.</span>-->
			
				<label class="label-for-input" for="linkToPicture" th:text="#{form.field.linkToPicture}">Link to Picture</label>
				<input th:errorclass="error" type="text" th:field="*{linkToPicture}" th:placeholder="#{form.tip.linkToPicture}"/>
				<!--<span th:if="${#fields.hasErrors('linkToPicture')}" class="error" th:errors="*{linkToPicture}">error.</span>-->
			 
			
			
			<div class="box">
				<label class="label-for-input grouping" th:text="#{form.fieldgroup.description}">Please describe your house</label>
				<textarea rows="4" cols="50" th:errorclass="error" th:field="*{description}" th:placeholder="#{form.tip.description}"></textarea>
				<!--<span th:if="${#fields.hasErrors('description')}" class="error" th:errors="*{description}">error.</span>-->
			 
			</div>

			 
			 
			 <button th:if="${houseForm.id == null}" th:text="#{houseform.submit.new}" type="submit">Add house!</button>
			 <button th:if="${houseForm.id != null}" th:text="#{houseform.submit.edit}" type="submit">Edit house!</button>
			
			 <!--<input type="submit" value="Submit"/> -->
		
		</form> 
	</div>
	

</body>
</html>