<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>

	<menu th:fragment="menu">
		<ul>
			<li><a href="index.html" th:href="@{~/}" id="logo" th:text="#{menu.site.name}">buymyhouse.com</a></li>
			<li><a th:if="${house != null}" class="link" href="form.html#form" th:href="@{~/edit-house(houseId=${house.id})}+'#form'"  th:text="#{menu.button.edit}"> Edit Listing</a></li>
			<li><a class="add-listing" href="form.html" th:href="@{~/add-house#form}" th:text="#{menu.button.add}">+ Create Listing</a></li>
		</ul>
	</menu>

	<header th:fragment="header">
		<div>
			<h1 th:text="#{header.h1}">Find the ultimate home for your family</h1>
			<div id="searchByStatusBox">
				<form action="list-houses" method="GET">
					<input type="radio" name="status" value="for sale" id="buy"
						checked="checked"><label for="buy" th:text="#{header.radio.forSale}">For Sale</label><!--
 				 --><input type="radio" name="status" value="to rent" id="rent"><label
						for="rent" th:text="#{header.radio.toRent}">To Rent</label><!--
				 --><input type="radio" name="status" value="sold" id="sold"><label
						for="sold" th:text="#{header.radio.sold}">Sold</label> <input type="text" name="searchTerm"
						placeholder="Type a location here..." th:placeholdee="#{header.searchBar}"> <input
						type="submit" value="Search" th:value="#{header.searchButton}">
				</form>
			</div>
		</div>
	</header>


</body>
</html>