<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{site.title}">Buymyhouse.com</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
	<meta name="author" content="Rákóczi Kristóf">
</head>


<body>

	<menu th:replace="fragments :: menu">
		<ul>
			<li><a href="index.html" th:href="@{~/}" id="logo" th:text="#{menu.site.name}">buymyhouse.com</a></li>
			<li><a th:if="${house != null}" class="link" href="form.html#form" th:href="@{~/edit-house(houseId=${house.id})}+'#form'"  th:text="#{menu.button.edit}"> Edit Listing</a></li>
			<li><a class="add-listing" href="form.html" th:href="@{~/add-house}" th:text="#{menu.button.add}">+ Create Listing</a></li>
		</ul>
	</menu>

	<header th:replace="fragments :: header">
		<div>


			<h1 th:text="#{header.h1}">Find the ultimate home for your family</h1>
			<div id="searchByStatusBox">
				<form action="list-houses" method="GET">
					<input type="radio" name="status" value="for sale" id="buy"
						checked="checked"><label for="buy" th:text="#{header.radio.forSale}">For Sale</label><!--
 				 --><input type="radio" name="status" value="to rent" id="rent"><label
						for="rent" th:text="#{header.radio.toRent}">To Rent</label><!--
				 --><input type="radio" name="status" value="sold" id="sold"><label
						for="sold" th:text="#{header.radio.sold}">Sold</label> <input type="text" name="searchTerm"
						placeholder="Type a location here..." th:placeholdee="#{header.searchBar}"> <input
						type="submit" value="Search" th:value="#{header.searchButton}">
				</form>
			</div>
		</div>
	</header>

<!-- 
	<div id="searchByFilterBox">
		<a href="../list-houses.html?searchByFilter=all">All</a> <a
			href="../list-houses.html?searchByFilter=poor">Poor</a> <a href="#"
			id="active">Wealthy</a> <a href="#">Richest</a>
	</div>
-->
	<div id="listings">
		
		<div th:if="${#lists.isEmpty(houses)}" class="user error-box">
			<p th:if="${#lists.isEmpty(houses)}" th:text="#{site.userError}"/>
			<a href="index.html" th:href="@{~/}" th:text="#{site.userError.linkText}">Link to index.html</a>
		</div>
		
		
		<a class="listItem" th:href="@{/view-house(houseId=${house.id})}+'#listing'" th:each="house : ${houses}" th:style="'background-image: url('+${house.linkToPicture}+');'">
			<span class="type" th:text="${house.type}+' - '+${house.status}">Apartment</span>
			<span class="price" th:text="${house.getFormattedPrice()}+''+${house.isRent() ? '/mo':''}">$300,000</span>
			<span class="address"> <span th:text="${house.zipCode}">1234 </span> <span th:text="${house.location}">Csólyospálos </span>, <span th:text="${house.address}"> Csólyospálos, Ady Endre utca</span></span>
			<span class="bed rooms"><span th:text="${house.numberOfBedRooms}">5</span>beds</span>
			<span class="bath rooms"><span th:text="${house.numberOfBathRooms}">2</span> baths</span>
			<span class="garage rooms"><span th:text="${house.numberOfGarages}">2</span> garage</span>
			
		</a>
	</div>

</body>
</html>