<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{site.title}">Buymyhouse.com</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
	<link rel="stylesheet" href="../static/css/view.css" th:href="@{css/view.css}" />
	<meta name="author" content="Rákóczi Kristóf">
</head>


<body>

	<menu th:replace="fragments :: menu">
		<ul>
			<li><a href="index.html" th:href="@{~/}" id="logo" th:text="#{menu.site.name}">buymyhouse.com</a></li>
			<li><a th:if="${house != null}" class="link" href="form.html#form" th:href="@{~/edit-house(houseId=${house.id})}+'#form'"  th:text="#{menu.button.edit}"> Edit Listing</a></li>
			<li><a class="add-listing" href="form.html" th:href="@{~/add-house}" th:text="#{menu.button.add}">+ Create Listing</a></li>
		</ul>
	</menu>

	<header th:replace="fragments :: header">
		<div>


			<h1>Find the ultimate home for your family</h1>
			<div id="searchByStatusBox">
				<form action="list-houses" method="GET">
					<input type="radio" name="status" value="buy" id="buy"
						checked="checked"><label for="buy">For Sale</label><!--
 				 --><input type="radio" name="status" value="rent" id="rent"><label
						for="rent">For Renting</label><!--
				 --><input type="radio" name="status" value="sold" id="sold"><label
						for="sold">Sold</label> <input type="text" name="location"
						placeholder="Type a location here..."> <input
						type="submit" value="Search">
				</form>
			</div>
		</div>
	</header>
	
	
	<div class="width-box">
		<span class="anchor" id="listing"></span>
		<img src="../static/images/house3.jpg" th:src="${house.linkToPicture}">
		<div class="contact-info">
			<h2><a href="#seller-information">Interested in this house? Contact the seller!</a></h2>
			<!--Name: John Cena <br>Phone number: +36306750533	-->
			
		</div>
		
		<div id="site">


			<h2> <a href="#location"><span th:text="${house.zipCode}">1234 </span> <span th:text="${house.location}">Csólyospálos </span>, <span th:text="${house.address}"> Csólyospálos, Ady Endre utca</span></a></h2>
			<p class="address"><span th:text="${house.type}">Flat</span> - <span th:text="${house.status}">for sale</span></p>
			
			

			
			<div class="price-box">
			
				<span th:text="${house.getFormattedPrice()}">$120,000/mo</span><span th:if="${house.isRent()}">/mo</span>

			</div>
			
			<label th:text="#{form.fieldgroup.general}">Details</label>
			<div class="details">
				 <div class="properties">
					<p th:text="#{form.field.suitableFor}">Most suitable for</p>
					<p th:text="#{form.field.type}">Type</p>
					<p th:text="#{form.field.builtIn}">Built in</p>
					<p th:text="#{form.field.sizeOfProperty}">Size</p>
					<p th:text="#{form.field.numberOfFloors}">Number of floors</p>
					<p th:text="#{form.field.garden}">Garden</p>
					<p th:text="#{form.field.airConditioning}">Air conditioning</p>
					<p th:text="#{form.field.parking}">Parking</p>
				 </div>
				 <div class="values">
					<p th:text="${house.suitableFor}">families</p>
					<p th:text="${house.type}">Flat</p>
					<p th:text="${house.builtIn}">1990</p>
					<p th:text="${house.sizeOfProperty}">Size</p>
					<p th:text="${house.numberOfFloors}">Number of floors</p>
					<p th:text="${house.garden}">Garden</p>
					<p th:text="${house.airConditioning}">Air conditioning</p>
					<p th:text="${house.parking}">free of charge parking space in garage</p>
				 </div>
				

			</div>
			
			<label th:text="#{form.fieldgroup.description}">Description</label>
			<p class="description" th:text="${house.description}">This is a long description of the house that i'm trying to sell here.</p>
			
			
			<label  th:text="#{form.fieldgroup.rooms}">Number of rooms</label>
			<div class="details">
				 <div class="properties">
					<p th:text="#{form.field.numberOfRooms}">Overall</p>
					<p th:text="#{form.field.numberOfKitchens}">Kitchen</p>
					<p th:text="#{form.field.numberOfBedRooms}">Bedrooms</p>
					<p th:text="#{form.field.numberOfBathRooms}">Bathrooms</p>
					<p th:text="#{form.field.numberOfGarages}">Garages</p>
				 </div>
				 <div class="values">
					<p th:text="${house.numberOfRooms}">12</p>
					<p th:text="${house.numberOfKitchens}">3</p>
					<p th:text="${house.numberOfBedRooms}">2</p>
					<p th:text="${house.numberOfBathRooms}">4</p>
					<p th:text="${house.numberOfGarages }">0</p>
				 </div>
				

			</div>
			
			<label th:text="#{form.fieldgroup.area}">Area</label>
			<div class="details">
				 <div class="properties">
					<p th:text="#{form.field.nearbySchools}">Nearbly schools</p>
					<p th:text="#{form.field.nearbyHospitals}">Nearbly hospitals</p>
					<p th:text="#{form.field.nearbyPlayGrounds}">Nearbly playgrounds</p>
					<p th:text="#{form.field.neighbours}">Neighbours</p>
				 </div>
				 <div class="values">
					<p th:text="${house.nearbySchools}">schhols</p>
					<p th:text="${house.nearbyHospitals}">hospitals</p>
					<p th:text="${house.nearbyPlayGrounds}">playgrounds</p>
					<p th:text="${house.neighbours}">neighbours</p>
				 </div>
				

			</div>
			
			<span class="anchor" id="location"></span>
			<label th:text="#{form.fieldgroup.location}">Location</label>
			<div style="margin: 20px auto;" class="mapouter"><div class="gmap_canvas"><iframe width="550" height="344" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2758.836719644047!2d20.13083151584162!3d46.25347368845103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474487d8de25fdd7%3A0xad25a7ebd4581f0c!2zU3pTekMgRMOpcmkgTWlrc2EgU3pha2dpbW7DoXppdW1hIMOpcyBTemFra8O2esOpcGlza29sw6FqYQ!5e0!3m2!1sen!2shu!4v1534702709215"
				th:src="${house.linkToGoogleMaps}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;height:344px;width:550px;}.gmap_canvas {overflow:hidden;background:none!important;height:344px;width:550px;}</style></div>
		
			<span class="anchor" id="seller-information"></span>
			<label th:text="#{form.fieldgroup.seller}">Seller information</label>
			<div class="details">
				 <div class="properties">
					<p th:text="#{form.field.sellerName}">Name</p>
					<p th:text="#{form.field.sellerNumber}">Phone number</p>
					<p th:text="#{form.field.sellerMail}">E-mail address</p>
					<p th:text="#{form.field.sellerAvailability}">Available</p>
				 </div>
				 <div class="values">
					<p th:text="${house.sellerName}">John Cena</p>
					<p th:text="${house.sellerNumber}">+36306080065</p>
					<p th:text="${house.sellerMail}">contact-me@gmail.com</p>
					<p th:text="${house.sellerAvailability}">during weekdays, from 8am to 5pm</p>
				 </div>
				

			</div>
		
		</div>
		
		
		
		
	</div>
	


</body>
</html>